<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Админская панель</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <form th:action="@{/admin/generate-invite}" method="get">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <input type="submit"
                               name="login-submit"
                               id="gen-invite"
                               class="form-control btn btn-info"
                               value="Новый пригласительный">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript"></script>
</body>

</html>