<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Тестовая страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <h1>USERS</h1>

        <div class="users">
            <div th:each="user : ${users}">
                <p th:text="${user.getUsername()}">Username</p>
                <p th:text="${user.getPassword()}">Password</p>
                <p th:text="${user.getInvite()}">Invite</p>
                <p>-----------------</p>
            </div>
        </div>

        <h1>INVITES</h1>
        <div class="invites">
            <div th:each="invite : ${invites}">
                <p th:text="${invite.getUsername()}">Username</p>
                <p th:text="${invite.getInvite()}">Invite</p>
                <p>-----------------</p>
            </div>
        </div>
    </div>

    <script type="text/javascript"></script>
</body>
</html>