<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<h1>USERS</h1>
<div class="users">
    <div th:each="user : ${users}">
        <p th:text="${user.getUsername()}"></p>
        <p th:text="${user.getPassword()}"></p>
        <p th:text="${user.getInvite()}"></p><br/>
    </div>
</div>

<h1>INVITES</h1>
<div class="invites">
    <div th:each="invite : ${invites}">
        <p th:text="${invite.getUsername()}"></p>
        <p th:text="${invite.getInvite()}"></p>
    </div>
</div>

<p><a th:href="@{/login}">Ко входу</a></p>
<p><a th:href="@{/registration}">К регистрации</a></p>

<script type="text/javascript"
></script>

</body>
</html>