<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Регистрация</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Registration page</h1>
            <form autocomplete="off" th:action="@{/registration}" th:object="${user}" method="post">
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('invite')}" th:errors="*{invite}"
                           class="validation-message"></label>
                    <label for="invite">Пригласительный</label>:
                    <input type="text"
                           id="invite"
                           name="invite"
                           th:field="*{invite}"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Пригласительный">
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           class="validation-message"></label>
                    <label for="username">Имя пользователя</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           th:field="*{username}"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Имя пользователя">
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="validation-message"></label>
                    <label for="password">Пароль</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           th:field="*{password}"
                           class="form-control"
                           placeholder="Пароль">
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                           class="validation-message"></label>
                    <label for="passwordConfirm">Подтверждение пароля</label>:
                    <input type="password"
                           id="passwordConfirm"
                           name="passwordConfirm"
                           th:field="*{passwordConfirm}"
                           class="form-control"
                           placeholder="Пароль еще раз">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Log In">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p><a href="/" th:href="@{/}">Вернуться на главную страницу</a></p>

</div>
</body>
</html>